body
{
    background : #566270;
}

header{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    text-align: center;
    width: 200px;
    height: 200px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#hint_area{
    position: absolute;
    top: 10%;
    left: 10%;
}
.guess_pane{
    position: absolute;
    text-align: center;
    width: 200px;
    height: 200px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
aside{
    background: #9DC8C8;
}